.item-bg-0 {
    background: url('../../assets/images/gambarImage_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-1 {
    background: url('../../assets/images/gambarImage_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-2 {
    background: url('../../assets/images/gambarImage_3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-3 {
    background: url('../../assets/images/gambarImage_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-4 {
    background: url('../../assets/images/gambarImage_5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-5 {
    background: url('../../assets/images/gambarImage_6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-6 {
    background: url('../../assets/images/gambarImage_7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-7 {
    background: url('../../assets/images/gambarImage_8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-8 {
    background: url('../../assets/images/gambarImage_9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-9 {
    background: url('../../assets/images/gambarImage_10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-10 {
    background: url('../../assets/images/gambarImage_11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-11 {
    background: url('../../assets/images/gambarImage_12.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-12 {
    background: url('../../assets/images/gambarImage_13.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-13 {
    background: url('../../assets/images/gambarImage_14.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-bg-14 {
    background: url('../../assets/images/gambarImage_15.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Movie Styles */
.bg-mov-0 {
    background: url('../../assets/images/gambarMovie_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-mov-1 {
    background: url('../../assets/images/gambarMovie_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-mov-2 {
    background: url('../../assets/images/gambarMovie_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-mov-3 {
    background: url('../../assets/images/gambarMovie_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-mov-4 {
    background: url('../../assets/images/gambarMovie_5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-mov-5 {
    background: url('../../assets/images/gambarMovie_6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}